@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #061006;
    --background-end-rgb: #010605;
  }
}

@media (max-width: 960px) {
  .item-card {
    @apply grid-cols-1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply font-mono bg-[#0e1111];
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
